
.open-sans-normal{
    font-family: "Open Sans",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 180px;

}
#r{
    color: rgb(253, 110, 10);
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 45px;
        
}
nav ul a{
    text-decoration: none;
   font-size: 12px;
}
.dark-2{
    color: rgb(71, 71, 71);
}
nav ul{
    display: flex;
    align-items: center;

}
.btn{
     background: rgb(253, 110, 10);
     color: rgb(255, 255, 255);
     text-align: center;
     font-weight: bold;
     padding: 13px 30px;
     font-size: 14px;
     border-radius: 5px;
     border: none;
}
.sec-title{
    font-size: 32px ;
    font-weight: bold ;
    color: rgb(24, 24, 24);
    text-align: center;
}
.sec-description{
  font-size: 18px;
  color: rgb(71, 71, 71);

}
.secondary-bg{
    background: rgb(255, 248, 243);
}

.bnr-greet{
    font-size: 45px;
    font-weight: 600;
   
}
.bnr-name{
     font-size: 70px;
    font-weight: bold;
}
.bnr-description{
    color: rgb(117, 117, 117);

font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.bnr-img{
    width: 400px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 180px;
    
}
.bnr-content{
    max-width: 580px;
}
.header{
     background: rgb(255, 248, 243);
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
}
.about{
    border-radius: 10px;
    padding: 100px 120px;
    text-align: center;
    margin-top: 100px;
}
.about-content{
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);

}
main{
    max-width: 1100px;
     margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    color: rgb(117, 117, 117);
 
}
.item-title{

}
.item-des{
    font-weight: 600;
}