
.open-sans-normal{
    font-family: "Open Sans",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 180px;

}
#r{
    color: rgb(253, 110, 10);
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 45px;
        
}
nav ul a{
    text-decoration: none;
   font-size: 12px;
}
.dark-2{
    color: rgb(71, 71, 71);
}
nav ul{
    display: flex;
    align-items: center;

}
.btn{
     background: rgb(253, 110, 10);
     color: rgb(255, 255, 255);
     text-align: center;
     font-weight: bold;
     padding: 13px 30px;
     font-size: 14px;
     border-radius: 5px;
     border: none;
}
.sec-title{
    font-size: 32px ;
    font-weight: bold ;
    color: rgb(24, 24, 24);
    text-align: center;
  
}
.sec-description{
  font-size: 18px;
   color: rgb(117, 117, 117);
 font-weight: 400;
 text-align: center;

}
.secondary-bg{
    background: rgb(255, 248, 243);
}

.bnr-greet{
    font-size: 45px;
    font-weight: 600;
   
}
.bnr-name{
     font-size: 70px;
    font-weight: bold;
}
.bnr-description{
    color: rgb(117, 117, 117);

font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.bnr-img{
    width: 400px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 180px;
    
}
.bnr-content{
    max-width: 580px;
}
.header{
     background: rgb(255, 248, 243);
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    
}
.about{
    border-radius: 10px;
    padding: 100px 120px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.about-content{
    box-sizing: border-box;
border: 1px solid rgb(0, 0, 0);
background: rgb(255, 255, 255);
width: 800px;
margin: auto;

}
main{
    max-width: 1100px;
     margin: 0 auto;
    
}
.about-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    color: rgb(117, 117, 117);
 
}
.item-des{
    font-weight: 600;
}
.center{
    margin: 0 150px;
   

}
.skills-contain{
    display: flex;
    gap: 28px;
    margin-top: 30px;
}
.skill_des{
    color: rgb(117, 117, 117);
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.skill{
    padding: 30px;
    border-radius: 5px;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
.colim-title{
    color: rgb(71, 71, 71);
font-size: 20px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.resume-container{
    margin-top: 49px;
    display: flex;
  gap: 40px;
}
.exp-des{
    color: rgb(117, 117, 117);
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.exp-subtitle{
    color: rgb(117, 117, 117);
font-size: 14px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-top: 0;
}
.exp-title{
    color: rgb(71, 71, 71);
font-size: 18px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 0;
}
.resume{
    margin-top: 150px;
    margin-bottom: 150px;
}
.cv{
    margin-top: 50px;
    text-align: center;
}
footer{
    padding: 100px 200px;
    display: flex;
    gap: 120px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"] , footer textarea{
    height: 45px;
    border-radius: 5px;
background: rgb(255, 255, 255);
display: block;
width: 100%;
padding: 8px 16px;
margin-bottom: 24px;
border: none;
}
.connect{
    color: rgb(24, 24, 24);
font-size: 30px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.des{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin-bottom: 30px;
}